<h1
  mat-dialog-title
  matBadge="{{ rolesComponent.selectedOptions.selected.length }} / {{
    roles.totalRoleCount
  }}"
  matBadgeOverlap="false"
  style="margin-top: 20px; margin-right: 30px"
>
  Assigning Role to {{ data.name }}
</h1>
<div mat-dialog-content>
  <p>You can assign a role to the relevant page below.</p>
</div>

<mat-selection-list #rolesComponent>
  <mat-list-option
    *ngFor="let role of listRoles"
    selected="{{ role.selected }}"
  >
    {{ role.name }}
  </mat-list-option>
</mat-selection-list>

<div mat-dialog-actions>
  <button mat-button (click)="close()">Cancel</button>
  <button
    mat-button
    [mat-dialog-close]="data"
    cdkFocusInitial
    (click)="assignRoles(rolesComponent)"
  >
    Assign Roles
  </button>
</div>
